html {
  box-sizing: border-box;
  font-size: 14px;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  background-color: #DADADA;
  margin: 0;
  padding: 0;
  font-family: Lato, sans-serif;
  font-size: 16px;
}

#root {
  width: 100%;
  height: 100%;
}

#root > .grid {
  height: 100%;
}

/**
 * LOGIN PAGE:
 */

#login-page {
  align-items: center;
}

#login-page > .column {
  max-width: 28.125em; /* 450px */
}

#login-page .title h3 {
  margin-bottom: 0;
}

#login-page .content p {
  color: #00b5ad; /* semantic ui teal */
  margin: 0.5em;
}


/**
 * TOPBAR AND SIDEBAR:
 */

.sidebar ~ .pusher {
  min-height: 100vh;
}

#topbar {
  margin-bottom: 0;
}

#topbar ~ .dividing {
  margin-top: 0;
  margin-bottom: 0.875em; /* 14px */
}


/**
 * CARD CONTAINER:
 */

 .card .ui.button {
  margin-top: 0.875em; /* 14px */
}

.card .small-avatar {
  float: right;
  margin-top: -0.525em; /* 6px */
  display: none !important;
}

 .card .avatar-container {
  display: flex !important;
  align-items: center;
  text-align: center;
  width: 6.875em !important; /* 110px */
 }

 .card .content-container {
  width: calc(100% - 6.875em) !important; /* 110px */
 }


/*
 * HOMEPAGE:
 */

#home-page .menu > .item {
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  justify-content: center;
}

#home-page .active.tab {
  border-color: #00b5ad; /* semantic ui teal */
  border-top: 0.0714rem dashed #00b5ad; /* 1px, emantic ui teal */
}



/*
 * POLL PAGE
 */

#poll-card,
#results-card {
  margin: auto;
}

#results-card .ui.progress {
  margin: 1.5em 0 0.5em;
}

#results-card .ui.message .content {
  text-align: center;
  color: #777;
}

#results-card .ui.message .circular.label {
  position: absolute;
  top: -1em;
  right: -1em;
}

#results-card .ui.progress.hidden .bar {
  visibility: hidden;
}


/* onlyComputer
@media only screen and (max-width: 1199px) and (min-width: 992px) {

} */

/* onlyTablet and up */
/* @media only screen and (max-width: 991px) and (min-width: 768px) { */
@media only screen and (min-width: 768px) {
  #poll-card,
  #results-card,
  #add-question-page {
    max-width: 43em !important; /* 688px */
  }

  #poll-card .avatar-container,
  #results-card .avatar-container {
    width: 10.375em !important; /* 166px */
  }

  #poll-card .content-container,
  #results-card .content-container {
    width: calc(100% - 10.375em) !important; /* 166px */
  }
}

/* onlyMobile */
@media only screen and (max-width: 767px) {
  #poll-card,
  #results-card {
    /* max-width: 20em; 320px */
  }

  #poll-card .small-avatar,
  #results-card .small-avatar {
    display: inline-block !important;
  }

  #poll-card .avatar-container,
  #results-card .avatar-container {
    display: none !important;
  }

  #poll-card .content-container,
  #results-card .content-container {
    width: 100% !important;
  }
}


/*
 * ADD QUESTION PAGE
 */

#add-question-page .ui.form .disabled.field {
  opacity: 1;
}


/*
 * LEADERBOARD PAGE
 */

 .leader-card {
  margin: auto !important;
}

.leader-card .avatar-container {
  display: flex !important;
  align-items: center;
}

.leader-card .avatar-container .ribbon {
  position: absolute;
  left: -1.071rem;
}

.leader-card .score-container {
  display: table !important;
  height: 100%;
}

.leader-card .score-container > div {
  display: table-cell;
  vertical-align: middle;
  padding-top: 5%;
}

#leaderboard-page .ui.grid > .row > .column {
  padding-left: 0.7rem;
  padding-right: 0.7rem;
}

.leader-card .leader-name {
  margin-bottom: 0;
}

.leader-card .table {
  margin-top: 0;
}

/* onlyTablet and up */
@media only screen and (min-width: 768px) {
  .leader-card {
    max-width: 43em !important; /* 688px */
  }

  .leader-card .avatar-container,
  .leader-card .score-container {
    width: 10.375em !important; /* 166px */
  }

  .leader-card .details-container {
    width: calc(100% - (2 * 10.375em)) !important; /* 166px */
  }

  .leader-card .leader-name {
    font-size: 1.6875em; /* 27px */
  }

  .leader-card .table {
    font-size: 1.25em; /* 20px */
  }

  .leader-card .avatar-container .ribbon {
    top: -0.3571rem;
  }
}

/* onlyMobile */
@media only screen and (max-width: 767px) {
  .leader-card .avatar-container,
  .leader-card .score-container {
    width: 6.875em !important; /* 110px */
  }

  .leader-card .details-container {
    width: calc(100% - (2 * 6.875em)) !important; /* 110px */
  }

  .leader-card .leader-name {
    font-size: 1.125em; /* 18px */
  }

  .leader-card .avatar-container .ribbon {
    top: -0.5rem;
  }

  .leader-card .avatar-container .ui.tiny.image {
    width: 65px;
  }
}

/* 404 not found */
.notfound-page-wrap {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  background: #00b5ad;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  text-align: Center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.notfound-page-wrap h1 {
  font-size: 5rem;
  margin: 0;
  color: #fff;
}
.notfound-page-wrap h2 {
  margin: 0;
  color: #fff;
  margin: 20px 0;
}
.notfound-page-wrap a {
  color: #fff;
  display: block;
}
