html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  background-color: #DADADA;
  margin: 0;
  padding: 0;
  font-family: Lato, sans-serif;
}

#root {
  width: 100%;
  height: 100%;
}

#root > .grid {
  height: 100%;
}

#login-page {
  align-items: center;
}

#login-page > .column {
  max-width: 28.125rem;
}


/**
 * TOPBAR AND SIDEBAR:
 */

.sidebar ~ .pusher {
  min-height: 100vh;
}

#topbar {
  margin-bottom: 0;
}

#topbar ~ .dividing {
  margin-top: 0;
  margin-bottom: 1rem;
}

/**
 * CARD CONTAINER:
 */

 .card-container .avatar-container {
  text-align: center;
  width: 7.857rem !important;
 }

 .card-container .content-container {
  width: calc(100% - 7.857rem) !important;
 }


/**
 * HOMEPAGE:
 */

#home-page .menu > .item {
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  justify-content: center;
}

#home-page .active.tab {
  border-color: teal;
  border-top: 0.0714rem dashed teal;
}

.summary-card .ui.button {
  margin-top: 1rem;
}
